name: CI (PR) - Tests/SAST/SCA/TF-Plan

on:
  pull_request:
    branches: ["main"]

jobs:
  #Checking if any file in infra has been changed
  changes:
    runs-on: ubuntu-latest
    outputs:
      infra: ${{ steps.filter.outputs.infra }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            infra:
              - 'infra/**'

  sast:
    uses: ./.github/workflows/sast-scan.yml

  sca:
    uses: ./.github/workflows/sca-scan.yml

  tf_plan:
    name: Terraform Plan (if infra changed)
    runs-on: ubuntu-latest
    needs: [changes, sast, sca]
    if: ${{ needs.changes.outputs.infra == 'true' }}
    defaults:
      run:
        working-directory: infra
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_versions: "1.6.6"
      # For backend azurerm
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Terraform init/validate/plan
        run: |
          terraform init
          terraform validate
          terraform plan -var-file=dev.tfvars